[submodule "twab-controller"]
	path = twab-controller
	url = https://github.com/generationsoftware/pt-v5-twab-controller
[submodule "prize-pool"]
	path = prize-pool
	url = https://github.com/generationsoftware/pt-v5-prize-pool
[submodule "claimer"]
	path = claimer
	url = https://github.com/GenerationSoftware/pt-v5-claimer
[submodule "draw-auction"]
	path = draw-auction
	url = git@github.com:GenerationSoftware/pt-v5-draw-auction.git
[submodule "vault"]
	path = vault
	url = https://github.com/GenerationSoftware/pt-v5-vault
